# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/vosviewer/*
!data/vosviewer/.gitkeep

# Docs
docs/visualizations/*
!docs/visualizations/.gitkeep
docs/reports/*
!docs/reports/.gitkeep

# Environment
.env
.venv

# OS
.DS_Store
Thumbs.db
